*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#ff7b00,#ffb347);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
}

h1{
    color:#ff6a00;
    margin-bottom:25px;
}

.caixas{
    display:flex;
    justify-content:center;
    gap:12px;
}

.caixas input{
    width:60px;
    height:60px;
    border:3px solid #ff8800;
    border-radius:12px;
    font-size:30px;
    font-weight:bold;
    text-align:center;
    outline:none;
    transition:.3s;
}

.caixas input:focus{
    border-color:#ff4d00;
    box-shadow:0 0 10px #ff8800;
}

button{
    margin-top:25px;
    padding:15px 40px;
    border:none;
    background:#ff6a00;
    color:white;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#e65c00;
}

#resultado{
    margin-top:20px;
    font-size:18px;
    font-weight:bold;
}